* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Arial", sans-serif;
	background-color: #f8f8f8;
}
h1 {
	font-size: 72px;
	font-weight: bold;
	color: #fff;
}
h2 {
	font-size: 36px;
	font-weight: bold;
	color: #333;
}
h3 {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
}
p {
	font-size: 18px;
	font-weight: normal;
	color: #333;
}
.header {
background-image: url(../images/header-bg.jpg);
-webkit-background-size: cover;
background-size: cover;
background-attachment: fixed;
height: 799px;
text-align: center;
}
.inner {
  width: 1064px;
  margin: 0 auto;
}
.header-inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header h1 {
   padding-top: 289px;
}
.header h2 {
	
}
.header h3 {
	margin-top: 13px;
	margin-bottom: 43px;
}
.header ul {
	list-style: none;
	display: flex;
	justify-content: center;
}
.header ul li {
	/*display: inline-block;*/
	margin: 0px 17px;
}
.header ul li a {
   width: 163px;
   height: 50px;
   display: block;
   text-indent: 200px;
   overflow: hidden;
}
.content {
}
.row {
  overflow: hidden;
  padding: 50px 0;
}
.left {
   width: 490px;
   float: left;
}
.right {
   width: 490px;
   float: right;
}
.row h2 {
	margin-top: 70px;
	margin-bottom: 20px;
}
.footer {
	background-image: url(../images/footer-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	height: 531px;
}
.footer-inner {
	overflow: hidden;
}
.footer-text{
	margin-top: 247px;
	float: left;  
}
.footer h2 {
   font-weight: normal;
   color: #fff;
}
.footer-social {
   margin-top: 241px;
   float: right;
}
.footer ul {
   list-style: none;
   overflow: hidden;
   margin-right: 6px; 
}
.footer ul li {
   float: left;
   margin-left: 34px;
}
.footer ul li a {
   width: 163px;
   height: 50px;
   display: block;
   /*color: transparent;*/
   /*color: #f8f8f800;*/
   /*font-size: 0;*/
   text-indent: 200px;
   overflow: hidden;
}
.Twitter {
	background-image: url(../images/u85.png);
}
.Google {
	background-image: url(../images/u80.png);
}
.Vkontakte {
	background-image: url(../images/u90.png);
}
.Twitter:hover {
	background-image: url(../images/u85-r.png);
}
.Google:hover {
	background-image: url(../images/u80-r.png);
}
.Vkontakte:hover {
	background-image: url(../images/u90-r.png);
}